<section>
  <div class="page-header">
    <h1>
      Clients
      <a class="btn btn-primary pull-right" data-ui-sref="admin.clients.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="client in vm.clients" data-ui-sref="admin.clients.edit({clientId: client._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="client.created | date:'mediumDate'"></span>
        by
        <span ng-if="client.user" ng-bind="client.user.displayName"></span>
        <span ng-if="!client.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="client.title"></h4>
      <p class="list-group-item-text" data-ng-bind="client.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="clients.$resolved && !clients.length">
    No clients yet, why don't you <a data-ui-sref="admin.clients.create">create one</a>?
  </div>
</section>
